<center>
<img src="../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [1]:
# Change the path to the dataset file if needed. 
PATH = 'data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- [ ] 16 and 15
- [ ] 14 and 12  +
- [ ] 16 and 12
- [ ] 13 and 11

In [29]:
# You code here 
data[data['Year']==1996].sort_values(by=['Sex','Age'], ascending=[True,True]).head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
93850,47506,Hem Reaksmey,F,12.0,175.0,65.0,Cambodia,CAM,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
33105,17045,Byeon Hye-Yeong,F,13.0,166.0,61.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN

In [27]:
# You code here 
data[data['Year']==1996].sort_values(by=['Sex','Age'], ascending=[False,True]).head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
87416,44326,Gwon Gyeong-Min,M,14.0,165.0,60.0,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Diving,Diving Men's Platform,NaN
48506,25002,Omar Dallal,M,15.0,NaN,NaN,Jordan,JOR,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 400 metres Freestyle,NaN

In [4]:
data.loc[(data['Year']==1996)&(data['Sex']=='M'), 'Age'].min()

14.0

In [5]:
data.loc[(data['Year']==1996)&(data['Sex']=='F'), 'Age'].min()

12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [104]:
# You code here 
d2=data[(data['Year']==2000)&(data['Sex']=='M')][['ID','Sport']].drop_duplicates()
x1,y1 = d2.shape
# print(data[(data['Year']==2000)&(data['Sex']=='M')&(d2['Sport']=='Gymnastics')])
x2,y2 = d2[d2['Sport']=='Gymnastics'].shape
print(1.0*x2/x1*100)

1.4743882048943608

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [36]:
data[(data['Year']==2000)&(data['Sex']=='F')&(data['Sport']=='Basketball')]['Height'].describe()

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

In [7]:
q = '(Year==2000) & (Sex=="F") & (Sport=="Basketball")'
(data.query(q).describe().Height)

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [37]:
# You code here 
data[(data['Year']==2002)].sort_values(by='Weight', ascending=False).head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN
129595,65246,Kevin Kuske,M,23.0,196.0,116.0,Germany-2,GER,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,Gold
270556,135315,Zsolt Zsombor,M,30.0,193.0,115.0,Hungary,HUN,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
60488,30980,Dalibor uri,M,26.0,196.0,113.0,Serbia and Montenegro,SCG,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN
128125,64528,Pavel Kubina,M,24.0,196.0,113.0,Czech Republic,CZE,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [9]:
# You code here 
data[(data['Name']=='Pawe Abratkiewicz')]
len(data[data.Name == 'Pawe Abratkiewicz'].drop_duplicates(subset='Year').Year)
len(data[data.Name == 'Pawe Abratkiewicz'].groupby('Year'))

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [10]:
# You code here 
data[(data['Year']==2000)&(data['Medal']=='Silver')&(data['Team']=='Australia')&(data['Sport']=='Tennis')].shape[0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [48]:
# You code here 
data[(data['Year']==2016)&(data['Team']=='Switzerland')]['Medal'].describe(include=['object'])

count       11
unique       3
top       Gold
freq         6
Name: Medal, dtype: object

In [49]:
data[(data['Year']==2016)&(data['Team']=='Serbia')]['Medal'].describe(include=['object'])

count         54
unique         3
top       Silver
freq          27
Name: Medal, dtype: object

In [15]:
(data[data.Year==2016].dropna(subset=['Medal']).groupby('Team').size()[['Switzerland','Serbia']])

Team
Switzerland    11
Serbia         54
dtype: int64

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [114]:
d8 = data[data['Year']==2014][['ID','Age']].drop_duplicates()
# data.groupby(data[data['Year']==2014]['Age']).count()
x1,y1 = d8[(d8['Age']<15.0)].shape
x2,y2 = d8[(d8['Age']<25.0)].shape
x3,y3 = d8[(d8['Age']<35.0)].shape
x4,y4 = d8[(d8['Age']<45.0)].shape
x5,y5 = d8[(d8['Age']<55.0)].shape
print(x2-x1,x3-x2,x4-x3,x5-x4)
#print(d8['ID'].groupby((d8['Age']<35)&(d8['Age']<40)).count())

1193 1397 150 4

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [54]:
# You code here 
print(data[(data['Season']=='Summer')&(data['City']=='Lake Placid')])
print(data[(data['Season']=='Winter')&(data['City']=='Sankt Moritz')].count())

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []
ID        1657
Name      1657
Sex       1657
Age       1563
Height     238
Weight     159
Team      1657
NOC       1657
Games     1657
Year      1657
Season    1657
City      1657
Sport     1657
Event     1657
Medal      224
dtype: int64

In [16]:
(pd.crosstab(data.City, data.Season).loc[['Lake Placid', 'Sankt Moritz']])

Season        Summer  Winter
City
Lake Placid        0    2098
Sankt Moritz       0    1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [63]:
# You code here 
data[data['Year']==2016]['Sport'].describe()

count         13688
unique           34
top       Athletics
freq           2508
Name: Sport, dtype: object

In [17]:
abs(data[data.Year==1995].Sport.nunique() - data[data.Year==2016].Sport.nunique())

34